<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        width="200"
        class="img-thumbnail rounded-circle"
        src="img/kerubindesu.png"
        alt="kerubindesu"
      />
      <h1 class="display-4">Kerubindesu</h1>
      <p class="lead">Programmer Web</p>
    </div>
  </div>
</div>
